<%= form_tag 'game', method: :get do %>
<%= label_tag 'Sport' %>
<%= text_field_tag(:sport)%>
<%= submit_tag 'Get Odds' %>
<% end %>

<% @sorted_games.each do |game| %>
  <%= link_to "game/#{game['ID']}" do %>
    <p><%= game["HomeTeam"] %> vs <%= game["AwayTeam"] %></p>
    <% end %>
  <% end %>

<%= form_tag '/', method: :get do %>
<%= label_tag 'Team Tweets' %>
<%= text_field_tag(:word) %>
<%= submit_tag 'Get Tweets' %>
<% end %>

<% @team_tweets.each do |tweet| %>
  <%= tweet.text %>
  <% end %>
