<div class="container">
  <div class="page-header"><h1>All Users</h1></div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Hometown</th>
        <th>Birthday</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.hometown %></td>
        <td><%= user.birthday %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-default" %>
          <%= link_to 'Delete', user, class: "btn btn-xs btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
