<!DOCTYPE html>
<html>
<head>
  <title>BarBetsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img alt="logo"<%= image_tag('logo.jpg') %></a>
      </div>
       <ul class="nav nav-pills" role="navigation">
            <li><a href="users#show">Profile</a></li>
            <li><a href="game#index">Games</a></li>
       <ul class="nav nav-pills pull-right" role="navigation">
         <% if current_user %>
          <%= link_to current_user.name, current_user %>
          |
          <%= link_to "Sign Out", signout_path, class:'btn btn-default' %>
         <% else %>
          <li>
              <form class='navbar-form navbar-left' role='form'>
                <%= form_tag signin_path do |f| %>
                  <div class='form-group'>
                    <%= label_tag :email %>
                    <%= email_field_tag :email, nil, class:'form-control' %>
                    <%= label_tag :password %>
                    <%= password_field_tag :password, nil, class:'form-control' %>
                    <%= submit_tag "Sign In", class:'btn btn-default' %>
                  </div>
                <% end %>
            </form>
          </li>
           <% end %>
         </ul>
       </ul>
    </div>
  </div>

  

<%= yield %>


<footer>

  <div class="row">
    <div class="col-md-offset-11">
      <%= link_to "About", about_path %>
      |
      <%= link_to "Terms", terms_path %>
    </div>
  </div>
</div>
</body>

</html>
